.section{
    background:skyblue;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    widows: 50%;
    height:50%;
    
}
form{
    background:whitesmoke;
    padding: 10px;
    margin: auto;

}
form.div.row{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}
form label{
    width: 50%;
    text-align: end;
    display: block;
    float: left;
    margin-right: 10px;
}
form input, form select, form textarea{
    padding: 5px;
    border-radius: 5px;
}




