*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;

}
body{
    background-color: rgba(208, 171, 243, 0.856);
    margin: 0px;
}
#container{
    width: 100%;
    margin-left:auto;
    margin-right:auto;

}

#logo{
    /* background-image:url("/static/img/wood-1866667_960_720.jpg"); */
    background-color: rgba(117, 23, 204, 0.835);
    color:black;
    text-align:center;
    padding:10px;
    widows: 100%;
}


#content{
    float:left;
    padding:20px;
    text-align:center;
    
}
#footer{
    clear:both;
    background-color:blanchedalmond;
    color:black;
    text-align: center;
    padding: 20px;
    width:100%;
}


.button{
    margin: 15px 1% ;  /* отступы от слова до рамки */
    display: inline-block; /* елементы отображ блочно и вряд (не текст) */
    color:rgb(9, 9, 82);
    background:rgb(90, 176, 186);
    text-decoration: none; /* без подчеркивания */
    font-weight: 700;
    user-select: none;  /* без выделения уже прочитанных ссылок */
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 250ms; /* плавность */ 
} 

.button:hover  /* при наведении сверху */
{
    background: DeepSkyBlue;
}

.button:active /* при нажатии */
{
    background: white;
}
#spis{
    width:100%;
    padding-left:100px;
}

.slajd{
    padding:20px 40px;
    text-align:center;
    
}
h1
{
    font-size:24px;
    text-transform:uppercase;
    font: weight 700;

}
.tile6{
    margin:30px;
    width:230px;
    height:242px;
    float:left;
}
.tile7{
    margin:30px;
    width:230px;
    height:242px;
    float:left;
}
.tile8{
    margin:30px;
    width:530px;
    height:242px;
    float:left;
    /* background-image: url("/static/img/wood-1866667_960_720.jpg"); */
    background-color: rgba(134, 217, 226, 0.856);
    text-align:center;
    font-size:40px;
}