{% load static %}
<!DOCTYPE html>
<html lange="pl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zacznij podrózować juz dziś." />
    <meta namie="keywords" content="travel, podróze, loty, hotele" />
    <title>Travel with me</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- współpraca z plikiem css (sprawdż nazwę pliku) -->
    <!-- SPRAWDŹ NAZWĘ pliku -->
</head>

<body>
    <div id=”container”>
        <div id="logo">
            <h2>TRAVEL WITH ME &copy</h2>
            <div class="Buttons">
                <!--To ma być na początku każdego pliku ze ztroną-->
                <!--Przeciski dla przejścia na inne podstrony-->
                <a class="button" href="/main">MAIN</a>
                <a class="button" href="/countries/">COUNTRIES</a>
                <a class="button" href="/booking">BOOKING</a>
                <a class="button" href="/contact/">CONTACT</a>
            </div>


        </div>
        <div id="content">

            <!--Ponizej wstawić całość tekstu i info o krajach wraz ze zdjęciami-->


            <div class="slajd">
                <h1>Piękna Afryka...</h1>
                <img src="{% static 'img/Afryka_2.jpg' %}" alt="Afryka" width="661" height="490"></br></br>

                <p>
                    <h3>Jakie oblicze posiada Afryka?</h3>
                </p>
                <br />
                <cite>"Ten kontynent jest duzy, aby go opisać. To istny ocean,osobna planeta, róznorodny, przebogaty
                    kosmos. Tylko w wielkim uproszczeniu dla wygody - Afryka."</cite><br /></br>
                Afryka to bardzo słabo znany nam kontynent. Nie mieliśmy za wiele okazji, aby go odwiedzić. Jedno jest
                pewne: jest zdecydowanie odmienny od tego co znamy z Europy czy Azji. Na razie udało nam się poznać ten
                kontynent przez pryzmat Egiptu, lecz na pewno przyjdzie czas, aby wybrać i do innych krajów.<br /></br>
                </br>
                <img src="{% static 'img/Afryka_3.jpg' %}" width="661" height="490">
                </br></br>
            </div>
            <div class="slajd">
                <h2>Egipt</h2>
                </br>
                </br>
                <img src="{%static 'img/egipt3.jpg' %}" alt="Egipt" width="661" height="490"></br></br>
                </br>
                </br>
                <p>Egipt kojarzy się naturalnie z wyjątkowymi na skalę światową zabytkami: piramidami, sfinksem,
                    świątynią w Luksorze, grobowcem Tutenchamona. I słusznie, bo świadectwa bogatej przeszłości i
                    wielkości tego jednego z najstarszych na świecie państw (liczy ono ponad pięć tysięcy lat)
                    znajdziemy wszędzie - na pustyniach, wybrzeżu Morza Czerwonego i Śródziemnego, a przede wszystkim w
                    dolinie Nilu, najdłuższej na świecie rzeki, której Egipt zawdzięczał przez wiele stuleci swe
                    istnienie. Ale oprócz pamiątek po: równych bogom faraonach, Grekach, Rzymianach, Arabach, Turkach i
                    wielu innych narodach, które władały przez wieki krajem, próbując z różnym skutkiem przekształcić go
                    na swoją modłę, Egipt to także nieujarzmiona przyroda i zapadające na zawsze w pamięci krajobrazy:
                    dzikie obszary Sahary, piękne plaże i wodospady potężnego Nilu.</br><br>
                    Egipt ma tak fascynującą przeszłość, że większość odwiedzających go turystów zapewne mogłoby więcej
                    powiedzieć o kraju sprzed trzech tysięcy lat niż o współczesnym Egipcie.</p></br>
                </br>
                </br>
                <h2>Loty do Egiptu</h2>

                <p>
                    Do Egiptu latają samoloty dość często. Ceny zaczynają się od 300 zł w dwie strony.</br>
                    <o>Loty z Polski do Egiptu

                        <li><a href="https://www.tanie-loty.com.pl/tanie-loty-do-egiptu.html">Loty do Egiptu z
                                Warszawy</a></li>
                        <li><a href="https://www.bluesky.pl/tanie-loty/-1/Egipt/Poznan/Polska">Loty do Egiptu z
                                Poznania</a></li>
                        <li><a href="https://www.tanie-loty.com.pl/promocje/tanie-loty-z-wroclawia-do-egiptu.html">Loty
                                do Egiptu z Wrocławia</a></li>
                    </o>
                    <br />
                    <br />
                    <h2>Noclegi w Egipcie</h2>

                    <p>Możemy zarezerwować hotel albo wynająć apartament.</p>

                </p>



            </div>




        </div>

        <div id="footer">
            Wszelkie prawa zastrzezone.&copy;
        </div>

    </div>



</body>

</html>