{% load static %}
<!DOCTYPE html>
<html lange="pl">

    <head>
        <meta charset ="UTF-8">
        <meta name="description" content="Zacznij podrózować juz dziś."/>
        <meta namie="keywords" content="travel, podróze, loty, hotele"/>
        <title>Travel with me</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- współpraca z plikiem css (sprawdż nazwę pliku) -->  <!-- SPRAWDŹ NAZWĘ pliku -->
        <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    </head>
         
    <body>
        <div id=”container”>
            <div class="rectangle">
                <div style="clear:both;"></div>
            <div id="logo">
                <h1>TRAVEL WITH ME &copy</h1>
                <div class="Buttons"> <!--To ma być na początku każdego pliku ze ztroną-->
                    <!--Przeciski dla przejścia na inne podstrony-->
                        <a class="button" href="/main">MAIN</a>
                        <a class="button" href="/countries/">COUNTRIES</a>
                        <a class="button" href="/booking">BOOKING</a>
                        <a class="button" href="/contact/">CONTACT</a>
                        <a class="button" href="/quiz">QUIZ</a>
                </div>
            </div>
            <div class="main-container">
                <h2>Quiz dla prawdziwego podróżnika!</h2>
                <div class="question-container">
                    <div class="question">
                        <p>Jakie miasto jest stolicą Francji?</p>
                    <div class="answers">
                        <button class="answer">Londyn</button>
                        <button class="answer correct">Paryż</button>
                        <button class="answer">Monachium</button>
                    </div>
                </div>
                    <div class="question">
                        <p>Najdłuższa rzeka na świecie to?</p>
                    <div class="answers">
                        <button class="answer">Jangcy</button>
                        <button class="answer correct">Amazonka</button>
                        <button class="answer">Nil</button>
                    </div>
                    </div>
            <div class="question">
            <p>Kto jako pierwszy opłynął kulę ziemską?</p>
            <div class="answers">
            <button class="answer">Krzysztof Kolumb</button>
            <button class="answer">Vasco da Gama</button>
            <button class="answer correct">Ferdynand Magellan</button>
        </div>
        </div>
        <div class="points-container">
            <button class="check-points big-btn">Sprawdzam odpowiedzi</button>
            <div class="points hide">Punkty: <span>0</span></div>
                <button class="show-answers big-btn">Pokaż poprawne odpowiedzi</button>
                <button class="clear big-btn">Zagraj jeszcze raz</button>
            </div>
        </div>

    </body>
</html>