{% load static %}
<!DOCTYPE html>
<html lange="pl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zacznij podrózować juz dziś." />
    <meta namie="keywords" content="travel, podróze, loty, hotele" />
    <title>Travel with me</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> <!-- współpraca z plikiem css (sprawdż nazwę pliku) -->
    <!-- SPRAWDŹ NAZWĘ pliku -->
</head>

<body>
    <div id=”container”>
        <div id="logo">
            <h1>TRAVEL WITH ME &copy</h1>
            <div class="Buttons">
                <!--To ma być na początku każdego pliku ze ztroną-->
                <!--Przeciski dla przejścia na inne podstrony-->
                <a class="button" href="/main">MAIN</a>
                <a class="button" href="/countries/">COUNTRIES</a>
                <a class="button" href="/booking">BOOKING</a>
                <a class="button" href="/contact/">CONTACT</a>
            </div>
        </div>


        <div id="content">
            <div class="section" style="margin-left: 20%;">

                <h1>Ankieta podróznika</h1>
                <h2>Wypełnij ankietę i dostaniesz na swoją skrzynkę mailową idealnie zaplanowaną podróz.</h2>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    Name: <br><br>
                    <input type="text" value="" name="name" required><br><br>
                    Surname: <br><br>
                    <input type="text" value="" name="surname" required><br><br>
                    Email: <br><br>
                    <input type="email" value="" name="email" required><br><br>
                    Country to visit: <br><br>
                    <input type="text" value="" name="country" required><br><br>
                    <input type="submit" value="Send">
                </form>
                

            </div>
            <div style="margin-top: 30%; margin-left: 5%;">
                {% if display %}
                    <br/>
                    <hr>
                    <br/>
                    <p style="color: rgb(76, 0, 253); font-size: larger;">{{ text }}</p>
                {% endif %}
            </div>
            
        </div>
</body>

</html>