<h1>Ankieta podróznika</h1>
<h2>Wypełnij ankietę i dostaniesz na swoją skrzynkę mailową idealnie zaplanowaną podróz.</h2>

<form method="post">
    <input id="name" type="text" required autofocus="true">
    <button type="button", name = "button">Wyślij</button>
</form>

<!-- ------------------- -->
<form action="#"method="post" autocomplete="off">
    <div class="row">
        <label for="name">Imię i nazwisko:</label>
        <input id="name" type="text" required autofocus="true">

    </div>
    <div class="row">
        <label for="email">Adres e-mail:</label>
        <input id="email" type="email" required>

    </div>
    <div class="row">
        <label for="password">Hasło:</label>
        <input id="password" type="password" required>
    </div>

    <div class="row">

        <label for="genger">Płeć:</label>
        <select id="gender">
            <option>Męzczyzna</option>
            <option>Kobieta</option>
        </select>
    </div>

    <div class="row">

        <label for="country">Wybierz kraj:</label>
        <input id="country" type="text" list="countries">
        <datalist id="countries">
            <option>Egipt</option>
            <option>Brazylia</option>
            <option>Szwecja</option>
            <option>Japonia</option>
        </datalist>
        
    
    </div>

    <div class="row">
        <input id="rules" type="checkbox" required>
            <span>Administratorem danych jest spółka Travel with me S.J. <br/> Zatwierdź regulamin.</span>
        </label>
    </div>

    <div class="row">
        <input type="submit">
    </div>
</form>